<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovehome.publish">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.Release_Bianming_Activity"/>
        <activity android:name=".activity.Release_Meishi_Activity"/>
        <activity android:name=".activity.Release_Currency_Activity"/>
        <activity android:name=".activity.Release_Fangchan_Activity"/>
        <activity android:name=".activity.Release_Fangchan_Zuping_Activity"/>
        <activity android:name=".activity.Release_Gongzuo_Activity"/>
        <activity android:name=".activity.Release_Tiaozao_Activity"/>
        <activity android:name=".activity.Release_Laoxianghui_Activity"/>
    </application>

</manifest>
